<div class="card">
  <div class="card-header">
    <div class="text-center" data-background-color="orange" style="padding: 5px">
      <h3>{{ title }}</h3>
    </div>
  </div>
  <div class="card-body">
    <!-- Tab panes -->
    <div class="tab-content">
      <div class="tab-pane active" id="home1" role="tabpanel">
        <form action="" [formGroup]="form">
          <div class="row">
            <div class="col-12">
              <div class="alert alert-warning" role="alert">
                <div class="container">
                  <div class="alert-icon">
                    <i class="now-ui-icons ui-1_bell-53"></i>
                  </div>
                  <div class="col-xs-12 text-center">
                    <strong class="text-center">{{ solicitud?.status === 0 ? 'pendiente' : 'listo' }}</strong>
                  </div>
                </div>
              </div>
            </div>
            <!-- muestreo de datos-->
            <!-- DATOS DEL client?.-->
            <div class="col-lg-2 col-md-2 col-sm-6 col-xs-12 text-center">
              <img [src]='solicitud?.client?.logo' alt="nombre empresa" class="rounded img-fluid img-raised">
            </div>
            <div class="col-lg-10 col-md-10 col-sm-6 col-xs-12">
              <table class="table-bordered table">
                <tr class="bg-primary">
                  <td colspan="3">
                    <h6 class="text-capitalize text-white text-center">Datos del client?.</h6>
                  </td>
                </tr>
                <tr>
                  <td><b>NOMBRE:</b>: {{ solicitud?.client?.name }}</td>
                  <td colspan="2"><b>RUT:</b> &nbsp;{{ solicitud?.client?.rut }}</td>
                </tr>
                <tr>
                  <td><b>PERSONA DE CONTACTO:</b> {{ solicitud?.client?.contact }}</td>
                  <td colspan="2"><b>TELF: </b> {{ solicitud?.client?.telephone }}</td>
                </tr>
                <tr>
                  <td><b>DIRECCIÓN:</b> {{ solicitud?.client?.address }}</td>
                  <td><b>CIUDAD:</b> {{ solicitud?.client?.city }}</td>
                  <td><b>CIUDAD:</b> {{ solicitud?.client?.comuna }}</td>
                </tr>
              </table>
            </div>
            <!-- FIN DATOS DEL client?.-->
            <!-- INFORMACION DLE SERVICIO-->
            <div class="col-lg-12 col-md-12 col-sm-6 col-xs-12">
              <table class="table-bordered table">
                <tr class="bg-primary">
                  <td colspan="3">
                    <h6 class="text-capitalize text-white text-center">INFORMACIÓN DEL SERVICIO</h6>
                  </td>
                </tr>
                <tr>
                  <td colspan="2"><strong>TIPO DE SERVICIO:</strong> {{ solicitud?.category?.name }} </td>
                </tr>
                <tr>
                  <td colspan="2">
                    <strong>DESCRIPCIÓN DEL CLIENTE:</strong> <br>
                    {{ solicitud?.comments }}
                  </td>

                </tr>

              </table>
            </div>

            <!-- FIN INFORMACION DLE SERVICIO-->
            <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
              <label for="status">Estado:</label>
              <div class="input-group no-border">
                <div class="input-group-prepend">
                  <span class="input-group-text"><i class="fa fa-tag"></i></span>
                </div>
                <select formControlName="status" class="form-control">
                  <option value="">Seleccione ...</option>
                  <option value="0">Pendiente</option>
                  <option value="1">Resuelto</option>
                </select>
              </div>
              <small class="message-error">
                <strong *ngIf="typeField?.touched && typeField?.hasError('required')">Este campo es obligatorio</strong>
              </small>
            </div>

            <div class="col-12">
              <label for="comments">Agregar Comentario:</label>
              <div class="textarea-container">
                <textarea
                  class="form-control"
                  rows="4"
                  cols="80"
                  placeholder="Agregar comentario"
                  formControlName="description"
                ></textarea>
                <small class="message-error">
                  <strong *ngIf="descriptionField?.touched && descriptionField?.hasError('required')">Este campo es obligatorio</strong>
                </small>
              </div>
            </div>
            <div class="col-12 text-center">
              <button
                type="button"
                class="btn btn-primary"
                (click)="save()"
              >
                Guardar
              </button>
            </div>

            <div class="col-12">
              <h3>Comentarios</h3>
            </div>
            <div class="table-responsive">
              <table class="table table-hover">
                <thead>
                  <th>Comentario</th>
                  <th>Fecha</th>
                </thead>
                <tbody>
                  <tr>
                    <td>dskjbsdv</td>
                    <td>26/11/2022</td>
                  </tr>
                </tbody>
              </table>
            </div>

          </div>
          <div class="card-footer text-center">

          </div>
        </form>
      </div>
    </div>
  </div>
</div>

