
<div class="card">
  <div class="card-header">
    <div class="text-center" data-background-color="orange" style="padding: 5px">
      <h3>Ingresa tus datos</h3>
    </div>
  </div>
  <div class="card-body">
    <!-- Tab panes -->
    <div class="tab-content text-center">
      <div class="tab-pane active" id="home1" role="tabpanel">
        <form class="form" method="" action="">
          <div class="card-header text-center">

          </div>
          <div class="card-body">
            <!-- input empresa -->
            <div class="input-group no-border">
              <div class="input-group-prepend">
            <span class="input-group-text">
              <i class="now-ui-icons users_single-02"></i>
            </span>
              </div>
              <input type="text" class="form-control" placeholder="Nombre y apellido ó  Empresa">
            </div>

            <!-- input rut -->
            <div class="input-group no-border">
              <div class="input-group-prepend">
            <span class="input-group-text">
              <i class="now-ui-icons business_badge"></i>
            </span>
              </div>
              <input type="text" class="form-control" placeholder="Rut">
            </div>

            <!-- input nombre -->
            <div class="input-group no-border">
              <div class="input-group-prepend">
            <span class="input-group-text">
              <i class="now-ui-icons tech_mobile"></i>
            </span>
              </div>
              <input type="text" placeholder="telefono" class="form-control" />
            </div>

            <!-- input correo -->
            <div class="input-group no-border">
              <div class="input-group-prepend">
            <span class="input-group-text">
              <i class="now-ui-icons ui-1_email-85"></i>
            </span>
              </div>
              <input type="text" class="form-control" placeholder="Correo">
            </div>

            <div class="input-group no-border">
              <div class="input-group-prepend">
            <span class="input-group-text">
              <i class="now-ui-icons ui-1_email-85"></i>
            </span>
              </div>
              <textarea class="form-control" placeholder="Direccion"></textarea>
            </div>


            <div class="input-group no-border">
              <div class="input-group-prepend">
            <span class="input-group-text">
              <i class="now-ui-icons ui-2_settings-90"></i>
            </span>
              </div>
              <select class="form-control">
                <option>Seleccione servicio...</option>
                <option>Servicio 1</option>
                <option>Servicio 2</option>
                <option>Servicio 3</option>
              </select>
            </div>

            <div class="input-group no-border">
              <div class="input-group-prepend">
            <span class="input-group-text">
              Tipo Contacto
            </span>
              </div>

              <div class="form-check form-check-radio">
                <label class="form-check-label">
                  <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="telefono">
                  <span class="form-check-sign"></span>
                  Telefono
                </label>
              </div>
              <div class="form-check form-check-radio">
                <label class="form-check-label">
                  <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="whatsapp">
                  <span class="form-check-sign"></span>
                  Whatsapp
                </label>
              </div>
              <div class="form-check form-check-radio">
                <label class="form-check-label">
                  <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios2" value="correo">
                  <span class="form-check-sign"></span>
                  Correo
                </label>
              </div>

            </div>
            <!-- If you want to add a checkbox to this form, uncomment this code -->
            <!-- <div class="checkbox">
          <input id="checkboxSignup" type="checkbox">
            <label for="checkboxSignup">
            Unchecked
            </label>
          </div> -->
          </div>
          <div class="card-footer text-center">
            <button type="button" class="btn btn-primary">
              Enviar
            </button>
          </div>


        </form>
      </div>
    </div>
  </div>
</div>
