

  <app-banner></app-banner>
  <div class="main">
    <div class="section">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <app-carrusel></app-carrusel>
          </div>
        </div>
      </div>
    </div>
    <app-categorias></app-categorias>
    <div class="section section-tabs">
      <div class="container">
        <div class="row">
          <div class="col-md-10 ml-auto col-xl-6 mr-auto">
            <div id="acerca"></div>
            <p class="category">Acerca de nosotros</p>
            <!-- Nav tabs -->
            <div class="card">
              <div class="card-header">
                <ul class="nav nav-tabs justify-content-center" role="tablist">
                  <li class="nav-item">
                    <a class="nav-link active" data-toggle="tab" href="#nosotros" role="tab">
                      <i class="now-ui-icons objects_umbrella-13"></i> Nosotros
                    </a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#mision" role="tab">
                      <i class="now-ui-icons shopping_cart-simple"></i> Misión
                    </a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#vision" role="tab">
                      <i class="now-ui-icons shopping_shop"></i> Visión
                    </a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#objetivos" role="tab">
                      <i class="now-ui-icons ui-2_settings-90"></i> Objetivos
                    </a>
                  </li>
                </ul>
              </div>
              <div class="card-body">
                <!-- Tab panes -->
                <div class="tab-content text-center">
                  <div class="tab-pane active" id="nosotros" role="tabpanel">
                    <p>I think that’s a responsibility that I have, to push possibilities, to show people, this is the level that things could be at. So when you get something that has the name Kanye West on it, it’s supposed to be pushing the furthest possibilities. I will be the leader of a company that ends up being worth billions of dollars, because I got the answers. I understand culture. I am the nucleus.</p>
                  </div>
                  <div class="tab-pane" id="mision" role="tabpanel">
                    <p> I will be the leader of a company that ends up being worth billions of dollars, because I got the answers. I understand culture. I am the nucleus. I think that’s a responsibility that I have, to push possibilities, to show people, this is the level that things could be at. I think that’s a responsibility that I have, to push possibilities, to show people, this is the level that things could be at. </p>
                  </div>
                  <div class="tab-pane" id="vision" role="tabpanel">
                    <p>I think that’s a responsibility that I have, to push possibilities, to show people, this is the level that things could be at. So when you get something that has the name Kanye West on it, it’s supposed to be pushing the furthest possibilities. I will be the leader of a company that ends up being worth billions of dollars, because I got the answers. I understand culture. I am the nucleus.</p>
                  </div>
                  <div class="tab-pane" id="objetivos" role="tabpanel">
                    <p>
                      "I will be the leader of a company that ends up being worth billions of dollars, because I got the answers. I understand culture. I am the nucleus. I think that’s a responsibility that I have, to push possibilities, to show people, this is the level that things could be at."
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-10 ml-auto col-xl-6 mr-auto">
            <p class="category">Tabs with Background on Card</p>
            <!-- Tabs with Background on Card -->
            <div class="card">
              <div class="card-header">
                <ul class="nav nav-tabs nav-tabs-neutral justify-content-center" role="tablist" data-background-color="orange">
                  <li class="nav-item">
                    <a class="nav-link active" data-toggle="tab" href="#home1" role="tab">Home</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#profile1" role="tab">Profile</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#messages1" role="tab">Messages</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#settings1" role="tab">Settings</a>
                  </li>
                </ul>
              </div>
              <div class="card-body">
                <!-- Tab panes -->
                <div class="tab-content text-center">
                  <div class="tab-pane active" id="home1" role="tabpanel">
                    <p>I think that’s a responsibility that I have, to push possibilities, to show people, this is the level that things could be at. So when you get something that has the name Kanye West on it, it’s supposed to be pushing the furthest possibilities. I will be the leader of a company that ends up being worth billions of dollars, because I got the answers. I understand culture. I am the nucleus.</p>
                  </div>
                  <div class="tab-pane" id="profile1" role="tabpanel">
                    <p> I will be the leader of a company that ends up being worth billions of dollars, because I got the answers. I understand culture. I am the nucleus. I think that’s a responsibility that I have, to push possibilities, to show people, this is the level that things could be at. I think that’s a responsibility that I have, to push possibilities, to show people, this is the level that things could be at. </p>
                  </div>
                  <div class="tab-pane" id="messages1" role="tabpanel">
                    <p>I think that’s a responsibility that I have, to push possibilities, to show people, this is the level that things could be at. So when you get something that has the name Kanye West on it, it’s supposed to be pushing the furthest possibilities. I will be the leader of a company that ends up being worth billions of dollars, because I got the answers. I understand culture. I am the nucleus.</p>
                  </div>
                  <div class="tab-pane" id="settings1" role="tabpanel">
                    <p>
                      "I will be the leader of a company that ends up being worth billions of dollars, because I got the answers. I understand culture. I am the nucleus. I think that’s a responsibility that I have, to push possibilities, to show people, this is the level that things could be at."
                    </p>
                  </div>
                </div>
              </div>
            </div>
            <!-- End Tabs on plain Card -->
          </div>
        </div>
      </div>
    </div>
    <!-- End Section Tabs -->

    <app-clientes></app-clientes>

    <div class="section">
      <div class="container">
        <div class="row">
          <div class="col-12 text-center">
            <h2>Convenios</h2>
            <hr/>
          </div>
        </div>
      </div>
    </div>

    <app-opinions></app-opinions>

    <div class="section section-signup" id="about" style="background-image: url('assets/img/bg11.jpg'); background-size: cover; background-position: top center; min-height: 700px;">
      <div class="container">
        <div class="row">
          <div class="col-12 text-center">
            <h2 class="title">Contacto</h2>

          </div>
          <div class="card card-signup" data-background-color="yellow">
            <form class="form" method="" action="">
              <div class="card-header text-center">
                <h3 class="card-title title-up">Sign Up</h3>
                <div class="social-line">
                  <a href="#pablo" class="btn btn-neutral btn-facebook btn-icon btn-round">
                    <i class="fab fa-facebook-square"></i>
                  </a>
                  <a href="#pablo" class="btn btn-neutral btn-twitter btn-icon btn-lg btn-round">
                    <i class="fab fa-twitter"></i>
                  </a>
                  <a href="#pablo" class="btn btn-neutral btn-google btn-icon btn-round">
                    <i class="fab fa-google-plus"></i>
                  </a>
                </div>
              </div>
              <div class="card-body">
                <div class="input-group no-border">
                  <div class="input-group-prepend">
                      <span class="input-group-text">
                        <i class="now-ui-icons users_circle-08"></i>
                      </span>
                  </div>
                  <input type="text" class="form-control" placeholder="First Name...">
                </div>
                <div class="input-group no-border">
                  <div class="input-group-prepend">
                      <span class="input-group-text">
                        <i class="now-ui-icons text_caps-small"></i>
                      </span>
                  </div>
                  <input type="text" placeholder="Last Name..." class="form-control" />
                </div>
                <div class="input-group no-border">
                  <div class="input-group-prepend">
                      <span class="input-group-text">
                        <i class="now-ui-icons ui-1_email-85"></i>
                      </span>
                  </div>
                  <input type="text" class="form-control" placeholder="Email...">
                </div>
                <!-- If you want to add a checkbox to this form, uncomment this code -->
                <!-- <div class="checkbox">
              <input id="checkboxSignup" type="checkbox">
                <label for="checkboxSignup">
                Unchecked
                </label>
              </div> -->
              </div>
              <div class="card-footer text-center">
                <a href="#pablo" class="btn btn-neutral btn-round btn-lg">Get Started</a>
              </div>
            </form>
          </div>
        </div>
        <!--<div class="col text-center">
          <a href="examples/login-page.html" class="btn btn-outline-default btn-round btn-white btn-lg" target="_blank">View Login Page</a>
        </div>-->
      </div>
    </div>


  </div>


