<a
  href="https://wa.me/56964596482?text=Hola...%20tengo%20una%20consulta!"
  class="whatsapp"
  target="_blank">
  <i class="fab fa-whatsapp whatsapp-icon"></i>
</a>
<!-- End Navbar -->
<div class="wrapper">
  <app-banner></app-banner>
  <div class="main">
    <div class="section">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <app-carrusel></app-carrusel>
          </div>
        </div>
      </div>
    </div>
    <app-categorias></app-categorias>
    <div class="section section-tabs">
      <div class="container">
        <div class="row">
          <div class="col-md-10 ml-auto col-xl-6 mr-auto">
            <p class="category">Tabs with Icons on Card</p>
            <!-- Nav tabs -->
            <div class="card">
              <div class="card-header">
                <ul class="nav nav-tabs justify-content-center" role="tablist">
                  <li class="nav-item">
                    <a class="nav-link active" data-toggle="tab" href="#home" role="tab">
                      <i class="now-ui-icons objects_umbrella-13"></i> Home
                    </a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#profile" role="tab">
                      <i class="now-ui-icons shopping_cart-simple"></i> Profile
                    </a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#messages" role="tab">
                      <i class="now-ui-icons shopping_shop"></i> Messages
                    </a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#settings" role="tab">
                      <i class="now-ui-icons ui-2_settings-90"></i> Settings
                    </a>
                  </li>
                </ul>
              </div>
              <div class="card-body">
                <!-- Tab panes -->
                <div class="tab-content text-center">
                  <div class="tab-pane active" id="home" role="tabpanel">
                    <p>I think that’s a responsibility that I have, to push possibilities, to show people, this is the level that things could be at. So when you get something that has the name Kanye West on it, it’s supposed to be pushing the furthest possibilities. I will be the leader of a company that ends up being worth billions of dollars, because I got the answers. I understand culture. I am the nucleus.</p>
                  </div>
                  <div class="tab-pane" id="profile" role="tabpanel">
                    <p> I will be the leader of a company that ends up being worth billions of dollars, because I got the answers. I understand culture. I am the nucleus. I think that’s a responsibility that I have, to push possibilities, to show people, this is the level that things could be at. I think that’s a responsibility that I have, to push possibilities, to show people, this is the level that things could be at. </p>
                  </div>
                  <div class="tab-pane" id="messages" role="tabpanel">
                    <p>I think that’s a responsibility that I have, to push possibilities, to show people, this is the level that things could be at. So when you get something that has the name Kanye West on it, it’s supposed to be pushing the furthest possibilities. I will be the leader of a company that ends up being worth billions of dollars, because I got the answers. I understand culture. I am the nucleus.</p>
                  </div>
                  <div class="tab-pane" id="settings" role="tabpanel">
                    <p>
                      "I will be the leader of a company that ends up being worth billions of dollars, because I got the answers. I understand culture. I am the nucleus. I think that’s a responsibility that I have, to push possibilities, to show people, this is the level that things could be at."
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-10 ml-auto col-xl-6 mr-auto">
            <p class="category">Tabs with Background on Card</p>
            <!-- Tabs with Background on Card -->
            <div class="card">
              <div class="card-header">
                <ul class="nav nav-tabs nav-tabs-neutral justify-content-center" role="tablist" data-background-color="orange">
                  <li class="nav-item">
                    <a class="nav-link active" data-toggle="tab" href="#home1" role="tab">Home</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#profile1" role="tab">Profile</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#messages1" role="tab">Messages</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#settings1" role="tab">Settings</a>
                  </li>
                </ul>
              </div>
              <div class="card-body">
                <!-- Tab panes -->
                <div class="tab-content text-center">
                  <div class="tab-pane active" id="home1" role="tabpanel">
                    <p>I think that’s a responsibility that I have, to push possibilities, to show people, this is the level that things could be at. So when you get something that has the name Kanye West on it, it’s supposed to be pushing the furthest possibilities. I will be the leader of a company that ends up being worth billions of dollars, because I got the answers. I understand culture. I am the nucleus.</p>
                  </div>
                  <div class="tab-pane" id="profile1" role="tabpanel">
                    <p> I will be the leader of a company that ends up being worth billions of dollars, because I got the answers. I understand culture. I am the nucleus. I think that’s a responsibility that I have, to push possibilities, to show people, this is the level that things could be at. I think that’s a responsibility that I have, to push possibilities, to show people, this is the level that things could be at. </p>
                  </div>
                  <div class="tab-pane" id="messages1" role="tabpanel">
                    <p>I think that’s a responsibility that I have, to push possibilities, to show people, this is the level that things could be at. So when you get something that has the name Kanye West on it, it’s supposed to be pushing the furthest possibilities. I will be the leader of a company that ends up being worth billions of dollars, because I got the answers. I understand culture. I am the nucleus.</p>
                  </div>
                  <div class="tab-pane" id="settings1" role="tabpanel">
                    <p>
                      "I will be the leader of a company that ends up being worth billions of dollars, because I got the answers. I understand culture. I am the nucleus. I think that’s a responsibility that I have, to push possibilities, to show people, this is the level that things could be at."
                    </p>
                  </div>
                </div>
              </div>
            </div>
            <!-- End Tabs on plain Card -->
          </div>
        </div>
      </div>
    </div>
    <!-- End Section Tabs -->

    <div class="section">
      <div class="container">
        <div class="row">
          <div class="col-12 text-center">
            <h2>Nuestros Clientes</h2>
            <hr/>
          </div>
        </div>
      </div>
    </div>

    <div class="section">
      <div class="container">
        <div class="row">
          <div class="col-12 text-center">
            <h2>Convenios</h2>
            <hr/>
          </div>
        </div>
      </div>
    </div>

    <app-opinions></app-opinions>


    <div class="section section-signup" id="about" style="background-image: url('assets/img/bg11.jpg'); background-size: cover; background-position: top center; min-height: 700px;">
      <div class="container">
        <div class="row">
          <div class="col-12 text-center">
            <h2 class="title">Contacto</h2>
          
          </div>
          <div class="card card-signup" data-background-color="yellow">
            <form class="form" method="" action="">
              <div class="card-header text-center">
                <h3 class="card-title title-up">Sign Up</h3>
                <div class="social-line">
                  <a href="#pablo" class="btn btn-neutral btn-facebook btn-icon btn-round">
                    <i class="fab fa-facebook-square"></i>
                  </a>
                  <a href="#pablo" class="btn btn-neutral btn-twitter btn-icon btn-lg btn-round">
                    <i class="fab fa-twitter"></i>
                  </a>
                  <a href="#pablo" class="btn btn-neutral btn-google btn-icon btn-round">
                    <i class="fab fa-google-plus"></i>
                  </a>
                </div>
              </div>
              <div class="card-body">
                <div class="input-group no-border">
                  <div class="input-group-prepend">
                      <span class="input-group-text">
                        <i class="now-ui-icons users_circle-08"></i>
                      </span>
                  </div>
                  <input type="text" class="form-control" placeholder="First Name...">
                </div>
                <div class="input-group no-border">
                  <div class="input-group-prepend">
                      <span class="input-group-text">
                        <i class="now-ui-icons text_caps-small"></i>
                      </span>
                  </div>
                  <input type="text" placeholder="Last Name..." class="form-control" />
                </div>
                <div class="input-group no-border">
                  <div class="input-group-prepend">
                      <span class="input-group-text">
                        <i class="now-ui-icons ui-1_email-85"></i>
                      </span>
                  </div>
                  <input type="text" class="form-control" placeholder="Email...">
                </div>
                <!-- If you want to add a checkbox to this form, uncomment this code -->
                <!-- <div class="checkbox">
              <input id="checkboxSignup" type="checkbox">
                <label for="checkboxSignup">
                Unchecked
                </label>
              </div> -->
              </div>
              <div class="card-footer text-center">
                <a href="#pablo" class="btn btn-neutral btn-round btn-lg">Get Started</a>
              </div>
            </form>
          </div>
        </div>
        <!--<div class="col text-center">
          <a href="examples/login-page.html" class="btn btn-outline-default btn-round btn-white btn-lg" target="_blank">View Login Page</a>
        </div>-->
      </div>
    </div>
    <div class="section section-examples" data-background-color="black">
      <div class="space-50"></div>
      <div class="container text-center">
        <div class="row">
          <div class="col text-left">
            <a routerLink="/" target="_blank">
              <img src="assets/img/eduargam-white.png" alt="Image" class="" width="140px">
            </a>
          </div>
          <div class="col">
            <ul style="list-style: none;text-align: left">
              <li>+569 6459 6482</li>
              <li>contacto@eduargamps.com</li>
              <li>Lo Barnechea lo ermita 246</li>
            </ul>
          </div>
        </div>
      </div>
    </div>

  </div>
  <!-- Sart Modal -->
  <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header justify-content-center">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
            <i class="now-ui-icons ui-1_simple-remove"></i>
          </button>
          <h4 class="title title-up">Modal title</h4>
        </div>
        <div class="modal-body">
          <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean. A small river named Duden flows by their place and supplies it with the necessary regelialia. It is a paradisematic country, in which roasted parts of sentences fly into your mouth.
          </p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default">Nice Button</button>
          <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
  <!--  End Modal -->
  <!-- Mini Modal -->
  <div class="modal fade modal-mini modal-primary" id="myModal1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header justify-content-center">
          <div class="modal-profile">
            <i class="now-ui-icons users_circle-08"></i>
          </div>
        </div>
        <div class="modal-body">
          <p>Always have an access to your profile</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-link btn-neutral">Back</button>
          <button type="button" class="btn btn-link btn-neutral" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
  <!--  End Modal -->
  <app-footer></app-footer>
</div>
