<div class="section section-signup" id="about" style="background-image: url('assets/img/bg11.jpg'); background-size: cover; background-position: top center; min-height: 700px;">
  <div class="container">
    <div class="row">
      <div class="col-12 text-center">
        <h2 class="title"></h2>

      </div>
      <div class="card card-signup" data-background-color="yellow">
        <form class="form" [formGroup]="form">
          <div class="card-header text-center">
            <h3 class="card-title title-up">Iniciar Sesión</h3>
            <div class="social-line">

            </div>
          </div>
          <div class="card-body">
            <div class="input-group no-border">
              <div class="input-group-prepend">
                      <span class="input-group-text">
                        <i class="fa fa-envelope"></i>
                      </span>
              </div>
              <input type="email" class="form-control" placeholder="ej: mail@example.com" formControlName="email">
            </div>
            <small class="message-error">
              <strong *ngIf="emailField?.touched && emailField?.hasError('required')">Este campo es obligatorio</strong>
            </small>
            <div class="input-group no-border">
              <div class="input-group-prepend">
                      <span class="input-group-text">
                        <i class="fa fa-key"></i>
                      </span>
              </div>
              <input type="password" placeholder="******" class="form-control" formControlName="password"/>
            </div>
            <small class="message-error">
              <strong *ngIf="passwordField?.touched && passwordField?.hasError('required')">Este campo es obligatorio</strong>
            </small>
          </div>
          <div class="card-footer text-center">
            <button type="button" (click)="login()" class="btn btn-neutral btn-round btn-lg">LogIn</button>
          </div>
        </form>
      </div>
    </div>
    <!--<div class="col text-center">
      <a href="examples/login-page.html" class="btn btn-outline-default btn-round btn-white btn-lg" target="_blank">View Login Page</a>
    </div>-->
  </div>
</div>
