<div class="text-right">
  <a routerLink="create">
    <button class="btn btn-primary">
      <i class="fa fa-plus"></i> Nueva
    </button>
  </a>
</div>
<div class="card">
  <div class="card-header">
    <div data-background-color="orange" class="col-12 text-center">
      <h3>Listado de Multimedia</h3>
    </div>
  </div>
  <div class="card-body">
    <!-- Tab panes -->
    <div class="row">
      <div class="table-responsive">
        <table class="table table-hover">
          <thead>
          <tr>
            <th scope="col">Tipo de archivo</th>
            <th scope="col">Extensión</th>
            <th scope="col">Archivo</th>
            <th scope="col">Acción</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let multimedia of multimedias">
            <th scope="row">Archivo</th>
            <td>
              {{ multimedia.extension }}
            </td>
            <td>
              <img [src]="multimedia.uri" width="50px">
            </td>
            <td>
              <a [routerLink]="['edit', multimedia.id]">
                <button class="btn btn-info btn-sm" title="Editar">
                  <i class="fa fa-edit"></i>
                </button>
              </a>
              <button
                class="btn btn-danger btn-sm"
                title="Eliminar"
                (click)="deleteMultimedia(multimedia.id)"
              >
                <i class="fa fa-trash"></i>
              </button>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
