<div class="text-right">
  <a routerLink="create">
    <button class="btn btn-primary">
      <i class="fa fa-plus"></i> Nuevo
    </button>
  </a>
</div>
<div class="card">
  <div class="card-header">
    <div data-background-color="orange" class="col-12 text-center">
      <h3>Listado de Usuarios</h3>
    </div>
  </div>
  <div class="card-body">
    <!-- Tab panes -->
    <div class="row">
      <div class="table-responsive">
        <table class="table table-hover">
          <thead>
          <tr>
            <th scope="col">Nombre</th>
            <th scope="col">Email</th>
            <th scope="col">Perfil</th>
            <th scope="col">Acción</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let user of users">
            <th scope="row">{{ user.name }}</th>
            <td [innerHTML]='user.email'></td>
            <td>{{ user?.roles }}</td>
            <td>
              <a [routerLink]="['edit', user.id]">
                <button class="btn btn-info btn-sm" title="Editar">
                  <i class="fa fa-edit"></i>
                </button>
              </a>
              <button
                class="btn btn-danger btn-sm"
                title="Eliminar"
                (click)="deleteUser(user.id)"
              >
                <i class="fa fa-trash"></i>
              </button>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
