
.categories:hover {
  transform: translateY(-4px);
  filter: drop-shadow(0px 5px 5px rgba(0,0,0,0.15))!important;
  transition: transform .5s ease;
}

.categories {
  border-radius: 8px;
}



.card-img-top {
  height: 180px;
}