<div class="card">
  <div class="card-header">
    <div class="text-center" data-background-color="orange" style="padding: 5px">
      <h3>{{ title }}</h3>
    </div>
  </div>
  <div class="card-body">
    <!-- Tab panes -->
    <div class="tab-content">
      <div class="tab-pane active" id="home1" role="tabpanel">
        <form action="" [formGroup]="form">
          <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
              <label for="name">Nombre:</label>
              <div class="input-group no-border">
                <div class="input-group-prepend">
                  <span class="input-group-text"><i class="fa fa-user-circle"></i></span>
                </div>
                <input type="text" class="form-control" placeholder="Nombre" formControlName="name">
              </div>
              <small class="message-error">
                <strong *ngIf="nameField?.touched && nameField?.hasError('required')">Este campo es obligatorio</strong>
              </small>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
              <label for="type">Tipo:</label>
              <div class="input-group no-border">
                <div class="input-group-prepend">
                  <span class="input-group-text"><i class="fa fa-tag"></i></span>
                </div>
                <select formControlName="type" class="form-control">
                  <option value="">Seleccione ...</option>
                  <option value="posts">Posts</option>
                  <option value="products">Productos</option>
                </select>
              </div>
              <small class="message-error">
                <strong *ngIf="typeField?.touched && typeField?.hasError('required')">Este campo es obligatorio</strong>
              </small>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
              <label for="image">Imagen:</label>
              <div class="input-group no-border">
                <div class="input-group-prepend">
                  <span class="input-group-text"><i class="fa fa-image"></i></span>
                </div>
                <input type="file" name="cargaIMagen"class="form-control" >
                <input type="hidden" formControlName="image">
              </div>
              <small class="message-error">
                <strong *ngIf="imageField?.touched && imageField?.hasError('required')">Este campo es obligatorio</strong>
              </small>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
              <label for="slug">Slug:</label>
              <div class="input-group no-border">
                <div class="input-group-prepend">
                  <span class="input-group-text"><i class="fa fa-user-circle"></i></span>
                </div>
                <input type="text" class="form-control" placeholder="slug" formControlName="slug">
              </div>
              <small class="message-error">
                <strong *ngIf="slugField?.touched && slugField?.hasError('required')">Este campo es obligatorio</strong>
              </small>
            </div>
            <div class="col-xs-12 col-12">
              <label for="description">Descripción:</label>
              <div class="input-group no-border">
                <div class="input-group-prepend">
                  <span class="input-group-text"><i class="fa fa-comments"></i></span>
                </div>
                <textarea formControlName="description" class="form-control" cols="30" rows="10"></textarea>
              </div>
              <small class="message-error">
                <strong *ngIf="descriptionField?.touched && descriptionField?.hasError('required')">Este campo es obligatorio</strong>
              </small>
            </div>

          </div>
          <div class="card-footer text-center">
            <button
              type="button"
              class="btn btn-primary"
              (click)="save()"
            >
              Guardar
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
