


<div class="section section-clientes ">
  <div class="container">
    <div class="row">
      <div class="col-12 text-center">
        <h2> Opiniones de nuestros clientes</h2>
        <hr/>
      </div>

      <div class="col-12">
        <swiper [config]="swiperConfig">
          <ng-template *ngFor="let opinion of opinions" swiperSlide>
            <div class="col-xs-4">
              <div class="card">
                <div class="card-img-content text-center">
                  <img class="card-img-top" src="https://www.cdc.gov/ncbddd/sicklecell/betterhealthtoolkit/images/pale-skin.png?_=68880" alt="Card image cap">
                </div>
                <div class="card-body text-center">
                  <p class="card-text text_bold name_opinion"><b>{{ opinion.name }}</b></p>
                  <span class="text_bold"><b>{{ opinion.client_name }}</b></span>
                  <p class="card-text text-justify">{{ opinion.opinion }}</p>
                </div>
              </div>
            </div>
          </ng-template>
        </swiper>
      </div>
    </div>
  </div>
</div>
